@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400; 
}

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700; 
}
.text-stroke-white {
  color: #00249c;
 
  font-weight: bold;
  text-shadow: 
    -3px -3px 0 white,  
     3px -3px 0 white,
    -3px  3px 0 white,
     3px  3px 0 white;
            
}

@import "tailwindcss";

@theme {
  --font-mon: "Montserrat", sans-serif;
  --color-azul1: #00249C;
  --color-azul2: #40CEE4;
  --color-gris: #C5C5C5;
  --color-rojo1: #C6007E;
  --color-rojo2: #E280BE;
}
